.allsection{
    max-width: 1270px;
    margin: 90px auto;
    padding: 0 20px; 
    display: flex;
    justify-content: space-between;
}
.firstsection{
    display: flex;
    align-items:flex-start;
    flex-direction: column;
}
.icon{
   margin-bottom:12px;
}
.firstheading{
    font-size: 24px;
    font-weight: 600;
    margin-bottom:7px;
    color: #212529;
}
.paragraphsec {
    font-size: 16px;
    line-height: 1.6;
    color: #666e7d;
}
/* Footer Section */
.footer-bottom {
   max-width: 1270px;
   background-color: #edf0f5;
  padding: 40px 20px;
  margin: 49px auto;
}
.footer-columns {
  display: flex;
  justify-content: space-between;
  padding: 28px 55px;
  flex-wrap: wrap;
}
.footer-column {
    margin-bottom: 8px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

.footer-column ul li {
  margin-bottom: 10px;
  font-size: 14px;
  color: #666e7d;
  cursor: pointer;
}
.footer-column ul li:hover {
  color: #1abc9c;
}
/* Footer extra */
.footer-extra {
  max-width: 1200px;
  margin: 5px auto;
  padding-top: 20px;
  border-top: 1px solid #d6c7c7;
  display: flex;
  flex-direction: column;
}

.payments-apps {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.payment-partner{
    display: flex;
    align-items: center;
    /* gap: 2px; */
}
.payment-partner img{
    font-size: 12px;
}
.payment-partner span {
  font-size: 16px;
  font-weight: 500;
}

.app-buttons img {
  height: 40px;
  margin: 5px;
}
.app-buttons{
    display: flex;
    align-items: center;
    gap: 6px;
}
.footer-extra p {
  font-size: 14px;
  color: #777;
  text-align: center;
}

.lastsection {
  border-top: 1px solid #d6c7c7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.copyright {
  font-size: 14px;
  color: #777;
  display: flex;
  flex-direction: column;
}

.buynowbtn {
  display: flex;
  align-items: center;
  padding: 10px 14px;
  background-color: rgb(11, 9, 24);
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  gap: 6px;
}
@media (max-width: 480px) {
  .firstheading {
    font-size: 18px;
  }

  .paragraphsec {
    font-size: 12px;
  }

  .footer-column ul li {
    font-size: 13px;
  }

  .payment-partner span {
    font-size: 14px;
  }

  .copyright p {
    font-size: 13px;
  }

  .buynowbtn {
    font-size: 13px;
    padding: 8px 12px;
  }

  .app-buttons img {
    height: 36px;
  }
   .lastsection {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  text-align: left;
}

  .mobile-view{
    display: none;
  }

}